@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
header {
    background-color: #4f4ff3;
    width: 100%;
    height: 300px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-size: 25px;
    top: 0;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.headertitle {
    justify-self: center;
    align-self: center;
}
@mixin streams($align_self) {
    display: flex;
    justify-content: space-between;
    position: relative;
    @if($align_self : flex-start) {
        align-self: flex-start;
        right: 0;
    }
    @else {
        align-self: flex-end;
        left: 0;
    }
}
.upperstreams {
    @include streams(flex-start);
}
.downstreams {
    @include streams(flex-end);
}
img {
    width: 5%;
    height: 30%;
}

@mixin weather($color) {
    height: 100%;
    width: 100%;
    display: grid;
    font-size: 20px;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    border-bottom: 1px solid black;

    @if($color : black) {
        background-color: #7171fb;
        color: black;
    }
    @else {
        background-color: #000000;
        color: white;
    }
}
.weatherinfoday {
    @include weather(black);
}
.weatherinfonight {
    @include weather(white);
}

.feels_like {
    font-size: 12px;
}
.temp {
    display: flex;
    align-items: center;
}
.sign {
    display: flex;
    align-items: center;
}
.icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 100px;
}
.icon img {
    width: 100px;
    height: 100px;
}
main {
    height: auto;
    width: 100%;
    position: relative;
}
#geopos {
    width: 15px;
    height: 15px;
}
#fivedays {
    background-color: #cfcece;
    height: auto;
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    //text-align: center;
}
#fivedays h2 {
    text-align: center;
    align-self: flex-start;
}
#fivedaysinfo {
    border-radius: 10px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #dcdcdc;
    padding: 0 3px 0 3px;
}
.day {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 70px;
}
.day img {
    align-self: center;
    justify-self: center;
    width: 30px;
    height: 30px;
}
.city {
    height: auto;
    min-height: 350px;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.city h2 {
    text-align: center;
}
.city form {
    justify-self: center;
}
button {
    background-color: black;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 60px;
    height: 22px;
    font-size: 12px;
}